<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- SEO -->
  {% if page.title == "Home" %}
  <meta name="description" content="Homepage of Pratibha Dutta Human Resource Professional">
  {% elsif page.title == "About" %}
  <meta name="description" content="Background and testimonials of my work">
  {% elsif page.title == "Life" %}
  <meta name="description" content="Latest updates on life">
  {% elsif page.title == "Resume" %}
  <meta name="description" content="Latest resume and achievements">
  {% elsif page.title == "Thoughts" %}
  <meta name="description" content="Latest blog posts and musings">
  {% else %}
  <meta name="description" content="Pratibha Dutta Human Resource Professional">
  {% endif %}


  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.url }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.url }}/public/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.url }}/public/css/custom.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.url }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  {% include analytics.html %}
</head>
